.body {
    background-color: #FFFDFE;
}

.section {
    text-align: center;
    background-color: #FFFDFE;
}

#newBeer {
    width: fit-content;
}

.notification.is-warning {
    background-color: #F9CDAD !important;
}