body {
    background-color: #FFFDFE;
}

header {
    background-color: #AE5502;
}

.title {
    color: black;
    text-align: center;
}

.star {
    display: inline-block;
    font-size: 24px;
    color: #999;
    cursor: pointer;
}

.rates .star {
    color: cornsilk;
}

#searchBrew {
    width: fit-content;
}

.is-child.notification.is-warning {
    background-color: #F9CDAD !important;
}

.tile.is-parent {
    display: flex;
    justify-content: center;
}

.tile.is-child.notification.is-warning {
    width: 300px; /* Adjust the width as per your preference */
    margin: 10px;
    padding: 10px;
}