body {
    background-color: #FFFDFE;
}

header {
    background-color: #AE5502;
}

.title {
    color: black;
    text-align: center;
}

.star {
    display: inline-block;
    font-size: 24px;
    color: #999;
    cursor: pointer;
}

.rates .star {
    color: cornsilk;
}

#searchBrew {
    width: fit-content;
}

.is-child.notification.is-warning {
    background-color: #F9CDAD !important;
}

.is-ancestor {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
    gap: 1rem; /* Add desired spacing between child elements */
    min-height: 400px;
    width: fit-content;
}

.is-child.notification.is-warning {
    border: 4px solid black;
    height: fit-content; /* Adjust the width as per your preference */
    margin: 0px;
    padding: 10px;
    width: 400px;
    height: 300px;
}