body{
    background-color:#D6d6d6 ;
}
header{
    background-color: #AE5502;

}
.title{
    color: black;
    text-align: center;
}

.star {
    display: inline-block;
    font-size: 24px;
    color: #999;
    cursor: pointer;
  }
  
  .rates .star {
    color: #ffc107;
  }